<div id="<%= dom_id student %>">

  <p>
    <% if student && student.image.attached? %> 
      <%= image_tag url_for(student.image), size: "150x150", style: "float: top" %>
    <% else %>
      <%= image_tag 'DefaultProfilePicture.jpeg', size: "150x150", style: "float: top" %>
    <% end %>
  </p>


  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>School email:</strong>
    <%= student.school_email %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= student.major %>
  </p>

  <p>
    <strong>Minor:</strong>
    <%= student.minor %>
  </p>

  <p>
    <strong>Graduation date:</strong>
    <%= student.graduation_date %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= student.bio %>
  </p>

</div>
